.App {
  text-align: center;
  
}



.nav{
  background-color: #282c34;
  min-height: 16vh;
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
 padding: 20px;
  
 
}
ul{
  list-style: none;
  display: flex;
  column-gap: 10px;
}
.home{
  background-color: #54df09;
  min-height: 50vh;
  padding: 55px;
  text-align:center;
  background-image: url('./images/skincare-finder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
 
 
}
.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
 
  
}
.productitem{

  margin: 2px;
 
  white-space: wrap; 
  
  overflow: hidden;
  padding: 10px;
  border: 1px solid #000000;
}
